<!DOCTYPE html>
<html lang="en" ng-app="configurator">

<head>
  <meta charset="UTF-8">
  <title>Configurator Version 2.0</title>
  <link rel="stylesheet" href="configuratormockup-2.css">
</head>

<body>

  <section class="config-wrapper" ng-init="step = 1" ng-controller="stepsController">
    <ul class="config-nav">
      <li><a href="#/step1" ng-click="step = 1">STEP 1</a></li>
      <li><a href="#/step2" ng-click="step = 2">STEP 2</a></li>
      <li><a href="#/step3" ng-click="step = 3">STEP 3</a></li>
    </ul>

    <div class="config-view" ng-view></div>
    <div class="config-output">
      <h3>Configurations</h3>
      <div>
        <div>
          Color: <span ng-bind="selectedValues.color.title"></span>
        </div>
        <div>
          Tech: <span ng-bind="selectedValues.tech.title"></span>
        </div>
        <div>
          Settings:
          <div>
            <p ng-repeat="(key, value) in selectedValues.build">
              <span ng-bind="key"></span>: <span ng-bind="value.title"></span>
            </p>
          </div>
        </div>

        <p>Total Price: <span ng-bind="totalPrice | currency"></span></p>
      </div>

    </div>

    <script type="text/ng-template" id="step1.html">
      <div class="step-wrapper" ng-controller="step1Controller">
        <div class="step-content">
          <h3>Choose Your Color&amp;Design</h3>
          <div class="content-wrapper">
            <div class="selector color-selector">
              <label class="selector-item" ng-repeat="(key, value) in items" ng-class="{chosen: selectedValues.color.title == value.title}">
                <img src="http://placehold.it/80x80" alt="color and design"> {{value.title}}:
                <input name="color" type="radio" ng-value="value" ng-model="selectedValues.color" ng-change="calculate()"/>
                <p ng-bind="value.price|currency"></p>
              </label>
            </div>

            <button class="btn next-btn" ng-disabled="!selectedValues.color" ng-click="go('/step2')">
              Next
            </button>
          </div>
        </div>
      </div>
    </script>


    <script type="text/ng-template" id="step2.html">
      <div class="step-wrapper" ng-controller="step2Controller">

        <div class="step-content">
          <h3>Choose Your Technology</h3>
          <div class="content-wrapper">
            <div class="selector tech-selector">
              <label class="selector-item" ng-repeat="(key, value) in items" ng-class="{chosen:selectedValues.tech.title == value.title}">
                <input type="radio" ng-value="value" ng-model="selectedValues.tech" ng-change="calculate()"/>
                <div class="item">
                  <img src="http://placehold.it/80x80" alt="technology">
                  <h4 ng-bind="value.title"></h4>
                  <p ng-bind="value.rates"></p>
                </div>
                <div class="price">
                  <p ng-bind="value.price|currency"></p>
                </div>
              </label>
            </div>
            <button class="btn next-btn" ng-disabled="!selectedValues.tech.title" ng-click="go('/step3')">
              Next
            </button>
          </div>
        </div>
      </div>
    </script>


    <script type="text/ng-template" id="step3.html">
      <div class="step-wrapper" ng-controller="step3Controller">

        <div class="step-content">
          <h3>Build Your Desktop</h3>
          <div class="content-wrapper">
            <div class="desk-selector">
              <div class="selector" ng-repeat="(configName, configChoices) in items" ng-class="{'selector-done': isDone}">
                <p class="selector-title" ng-bind="configName"></p>

                <label class="selector-item" ng-repeat="(key, value) in configChoices" ng-class="{chosen:selectedValues.build[configName].title == value.title}">
                  <input type="radio" value="{{value.title}}" ng-model="selectedValues.build[configName].title" ng-change="calculate()"/>
                  <span class="item">{{value.title}}</span>
                  <span class="price">{{value.price | currency}}</span>
                </label>

              </div>
            </div>
            <button class="btn next-btn" ng-disabled="!isDone" ng-click="go('/step1')">
              Next
            </button>
          </div>
        </div>
      </div>
    </script>

  </section>



  <script src="http://code.angularjs.org/1.4.7/angular.min.js"></script>
  <script src="http://code.angularjs.org/1.4.7/angular-route.min.js"></script>
  <script src="configuratormockup-2.js"></script>
  <!--
  <script>
    var myModule = angular.module('myModule', []);
    myModule.controller('LoadDataCtrl', ['$scope', '$http', function ($scope, $http) {
      $http({
        method: 'GET',
        url: 'data.json'
      }).success(function (data, status, headers, config) {
        $scope.uses = data;
      }).error(function (data, status, header, config) {

      })
    }]);
  </script>
-->
</body>

</html>
